<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Rinjora">

        <activity
            android:name=".auth.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Rinjora">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".rinjora.RinjoraAuthActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".rinjora.RinjoraPlayActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraPlayRiddleActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".rinjora.RinjoraHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraDailyActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraLeaderboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraFavoritesActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraAchievementsActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraDuelsActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraDuelDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraDuelCreateActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraContributeActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraSubmissionsActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraProverbsActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".rinjora.RinjoraProverbDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Rinjora.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".ui.support.TicketDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".ui.repairs.CreateRepairRequestActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Rinjora.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".ui.repairs.RepairRequestDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <activity
            android:name=".ui.workshop.WorkshopTaskDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Rinjora.NoActionBar">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
